.wrapper {
  padding-top: 10%;
  margin-bottom: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner {
  padding: 30px 0;
}

.title {
  color: #343434;

  font-size: 4.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav {
  margin: 0 16px;
}
