.wrapper {
  margin-bottom: 30px;
  margin-top: 60px;
}
.title {
  position: relative;
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-bottom: 16px;

  &::after {
    position: absolute;
    content: '';
    width: 7%;
    height: 1px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
  }
}
