.section-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-step {
  padding: 60px 20px 20px;
}

.title {
  max-width: 560px;
  width: 100%;
  color: var(--color-primary);
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
