.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 10px;

  min-height: 50px;
  background-color: #000;
}

.nav {
  display: flex;
  align-items: center;
}
