@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Space+Grotesk:wght@400;700&display=swap');
@import '~antd/dist/antd.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --text-color: #000;
  --color-primary: #9b1d23;
  --color-primary-opacity: rgba(155, 29, 35, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

ul,
li {
  list-style: none;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

// Key frame
